{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  .bg-primary-gradient {
    background: #1572e8 !important;
    background: linear-gradient(168deg, #000033, #034810) !important;
  }
  .btn-secondary {
    background: rgba(255, 255, 255, 0) !important;
    border-color: #fbfbfb !important;
  }
</style>

<div class="content">
  <div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
      <div
        class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
      >
        <div>
          <h2 class="text-white pb-2 fw-bold">DEPO</h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
          <a href="/casosAddCaso" class="btn btn-secondary btn-round"
            >Añadir caso</a
          >
        </div>
      </div>
    </div>
  </div>

  <div role="main">
    <body id="loginbody">
      <div id="custom-html-1n">
        <div
          class="container square-box d-flex justify-content-center align-items-center"
        >
          <div class="row">
            <div class="col-6" style="margin-bottom: 3em; margin-top: 3em">
              <div class="card" style="width: 20rem" id="logInCard">
                <h1
                  class="card-header text-center"
                  style="
                    color: white;
                    margin-top: 20px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    font-size: xx-large;
                  "
                >
                  ¿Eliminar Caso de {{caso.nombre_agencia}}?
                </h1>

                <div>
                  {% for message in messages %}
                  <h2
                    class="text-center"
                    style="
                      text-shadow: 1px 1px 30px #ffffff;
                      margin-top: 30px;
                      color: red;
                    "
                  >
                    {{message}}
                  </h2>
                  {% endfor %}
                </div>

                <div class="card-body" style="margin-top: 20px">
                  <form action="" aria-label="Eliminar" method="POST">
                    {% csrf_token %}

                    <div class="d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn"
                        style="
                          width: 100%;
                          margin-top: 30px;
                          color: white;
                          background-color: #f50000;
                        "
                        id="subtn"
                      >
                        <i class="fas fa-trash"></i>&nbsp;Eliminar
                      </button>
                    </div>
                  </form>
                  <div class="d-flex justify-content-center">
                    <button
                      onClick="javascript:history.go(-1);"
                      class="btn"
                      style="
                        width: 100%;
                        margin-top: 10px;
                        color: black;
                        background-color: #bababa;
                      "
                      id="subtn"
                    >
                      <i class="fas fa-arrow-left"></i>&nbsp;Cancelar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo.js"></script>
<script src="/static/assets/js/demo.js"></script>

{% endblock javascripts %}
