{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">DEPO</h2>

                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    {% comment %} <a href="#" class="btn btn-white btn-border btn-round mr-2">Filtro</a> {% endcomment %}
                    <a href="{% url 'addcompra' %}" class="btn btn-secondary btn-round">Añadir Compra</a>

                    <a href="{% url 'submitAll' %}" class="btn btn-secondary btn-round">Someter Lista de Compras</a>

                    <a href="#" class="btn btn-secondary btn-round">Borrar todas las Compras</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col" style="padding-top: 2rem;">
        <div class="card full-height">
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">Compras</div>
                    <!--<div class="card-tools">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab"
                                    aria-selected="true">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week"
                                    role="tab" aria-selected="false">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab"
                                    aria-selected="false">Month</a>
                            </li>
                        </ul>
                    </div>-->             
                </div>
            </div>

                
                {% crispy form %}
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                        {% render_table table %}
                        <tbody>
                            <tr>
                                <a  style="float: left; margin-left: 20px;" href="#"><i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Crear Partida"></i></a>
                            </tr>
                        </tbody>
                    </table>
                </div>
                


            <!-- {% for x in compras %}
             <div class="card-body">
                <div class="d-flex">
                    <div class="avatar avatar">
                        <span class="avatar-title rounded-circle border border-white bg-info">{{x.comprador|first}}</span>
                    </div>
                    <div class="flex-1 ml-3 pt-1">
                        <h6 class="text-uppercase fw-bold mb-1">{{x.comprador}} <span
                                class="text-warning pl-3">{{x.num_compra}}</span></h6>
                        <span class="text-muted">{{x.asignacion}}</span>
                    </div>
                    <div class="float-leftmargin-left pt-1">
                        <small style = "margin-left: 20px;" class="text-muted">{{x.estatus}}</small>
                        <a  style="float: leftmargin-left; margin-left: 20px;" href="{% url 'addpartida' x.compra_id %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Crear Partida"></i></a>
                        <a  style="float: leftmargin-left; margin-left: 20px;" href="{% url 'eliminarcompra' x.compra_id %}"><i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Borrar Compra"></i></a>
                        <a  style="float: leftmargin-left; margin-left: 20px;" href="{% url 'editarcompra' x.compra_id %}"><i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Editar Compra"></i></a>
                        <a  style="float: leftmargin-left; margin-left: 20px;" href="{% url 'sometido' x.compra_id %}"><i class="fas fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Someter Compra"></i></a>
                    </div>
                </div>
            </div> 

            <div class="table-responsive fixed-table-body">
                <table class="table table-bordered">
                    <thead>
                         <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                            <label class="custom-control-label" for="tableDefaultCheck1">Check 1</label>
                        </div>
    
                        <tr>
                            <th scope="col">Metodo</th>
                            <th scope="col">Num Compra</th>
                            <th scope="col">Fecha de Recibo</th>
                            <th scope="col">Fecha de reporte</th>
                            <th scope="col">Asig</th>
                            <th scope="col">Objeto</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Procedencia</th>
                            <th scope="col">Num Licitador</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Fondos</th>
                            <th scope="col">Comprador</th>
                            <th scope="col">Comentarios</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td style ="word-break:break-all;">
                                {{x.metodo}}
                            </td>    
                            <td>
                                {{x.num_compra}}
                            </td>
                            <td>
                                {{x.fecha_recibo}}
                            </td>
                            <td>
                                {{x.fecha_reporte}}
                            </td>
                            <td>
                                {{x.asignacion}}
                            </td>    
                            <td>
                                {{x.objeto}}
                            </td>
                            <td>
                                {{x.concepto}}
                            </td>  
                            <td>
                                {{x.descripcion}}
                            </td>    
                            <td>
                                {{x.procedencia}}
                            </td> 
                            <td>
                                {{x.num_licitador}}
                            </td>
                            <td>
                                {{x.cantidad}}
                            </td>
                            <td>
                                {{x.proveedor}}
                            </td>
                            <td>
                                {{x.cuenta}}
                            </td>
                            <td>
                                {{x.fondos}}
                            </td>
                            <td>
                                {{x.comprador}}
                            </td>
                            <td>
                                {{x.comentarios}}
                            </td>
                            
                        </tr>
                            <a  class="btn btn-primary" href="#" role="button">Anadir Partida</a>
                            <a  class="btn btn-primary" href="#" role="button">Borra Compra</a>
                            <a  class="btn btn-primary" href="#" role="button">Editar Compra</a>
                            <a  class="btn btn-primary" href="#" role="button">Someter Compra</a>
                            
                                <a  style="float: left; margin-left: 20px;" href="{% url 'addpartida' x.compra_id %}"><i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Crear Partida"></i></a>
                                <a  style="float: left; margin-left: 20px;" href="{% url 'eliminarcompra' x.compra_id %}"><i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Borrar Compra"></i></a>
                                <a  style="float: left; margin-left: 20px;" href="{% url 'editarcompra' x.compra_id %}"><i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Editar Compra"></i></a>
                                <a  style="float: left; margin-left: 20px;" href="{% url 'sometido' x.compra_id %}"><i class="fas fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Someter Compra"></i></a>
                           
                            
                    </tbody>
                </table>
            </div>

            {% endfor %} -->
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}

{% block javascripts %}

<script>

$(function() {
  // Get references to the categoria and subcategoria fields
	console.log("loaded")
  var $objeto = $('#objeto');
  var $descripcion = $('#descripcion');

	var $asignacion = $('#asignacion');
	var $concepto = $('#concepto');

	  var originalConceptoOptions = $concepto.html();
		console.log(originalConceptoOptions)
	

	$asignacion.change(function() {
		console.log('asignacion changed')
		var selectedAsig = $asignacion.val();
		   // Filter the subcategoria options based on the selected categoria
    var filteredAsigOptions = '';
		$(originalConceptoOptions).filter(function(index, option) {
        return $(option).val()==selectedAsig;
      }).each(function(index, option) {
        filteredAsigOptions += $(option).prop('outerHTML');
      });

		console.log(filteredAsigOptions)
    $concepto.html(filteredAsigOptions);
		console.log('updated')

	});


  // Store the original subcategoria options
  var originalDescripcionOptions = $descripcion.html();
	console.log(originalDescripcionOptions)

  // Listen for changes to the categoria field
  $objeto.change(function() {
		console.log('objeto changed')
    // Get the selected value of the categoria field
    var selectedCategoria = $objeto.val();
		var selectedAsig = $asignacion.val();
		console.log(`objeto: ${selectedCategoria}`)

   // Filter the subcategoria options based on the selected categoria
    var filteredDescripcionOptions = '';
		$(originalDescripcionOptions).filter(function(index, option) {
        return $(option).val().includes(selectedCategoria)
      }).each(function(index, option) {
        filteredDescripcionOptions += $(option).prop('outerHTML');
      });

			
    
    // Update the subcategoria options with the filtered options
		console.log(filteredDescripcionOptions)
    $descripcion.html(filteredDescripcionOptions);
		console.log('updated')
  });
});
</script>



{% endblock javascripts %}

