{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content">
  <div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
      <div
        class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
      >
        <div>
          <h2 class="text-white pb-2 fw-bold">DEPO</h2>
        </div>
      </div>
    </div>
  </div>

  <div role="main">
    <div class="container">
      <div id="custom-html-1n">
        <div>
          <h1 style="color: white">Someter Compra</h1>
        </div>
        <div id="custom-html-1n"></div>

        {% if submitted %}
        <div
          class="text-center mx-0 mx-sm-5 pt-2 mb-2"
          style="margin-top: 6rem; margin-bottom: 4rem"
        >
          {% for message in messages %}
          <h2
            class="text-center"
            style="
              text-shadow: 1px 1px 30px #ffffff;
              margin-top: 30px;
              color: red;
            "
          >
            {{message}}
          </h2>
          {% endfor %}
        </div>

        <div class="d-flex justify-content-center" style="margin-bottom: 10rem">
          <a class="btn btn-success" href="{% url 'compra' %}"
            ><i class="fa-solid fa-arrow-left fa-fw"></i>&nbsp;Volver a
            Compras</a
          >
          <a class="btn btn-secondary" href="{% url 'addcompra' %}"
            ><i class="fa-solid fa-square-plus fa-fw"></i>&nbsp;Crear Nueva
            Compra</a
          >
        </div>
      </div>
      {% else %}
      <div class="container">
        <div class="mb-3 justify-content-center"></div>

        <form
          role="form"
          aria-label="Crear"
          action=""
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ form.as_p }}

          <br />
          <div class="d-flex justify-content-center">
            <input type="Submit" value="Someter Compra" class="btn btn-secondary"/>
          </div>
          <br />
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo.js"></script>
<script src="/static/assets/js/demo.js"></script>

<script>
  Circles.create({
    id: "circles-1",
    radius: 45,
    value: 60,
    maxValue: 100,
    width: 7,
    text: 5,
    colors: ["#f1f1f1", "#FF9E27"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  Circles.create({
    id: "circles-2",
    radius: 45,
    value: 70,
    maxValue: 100,
    width: 7,
    text: 36,
    colors: ["#f1f1f1", "#2BB930"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  Circles.create({
    id: "circles-3",
    radius: 45,
    value: 40,
    maxValue: 100,
    width: 7,
    text: 12,
    colors: ["#f1f1f1", "#F25961"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  var totalIncomeChart = document
    .getElementById("totalIncomeChart")
    .getContext("2d");

  var mytotalIncomeChart = new Chart(totalIncomeChart, {
    type: "bar",
    data: {
      labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
      datasets: [
        {
          label: "Total Income",
          backgroundColor: "#ff9e27",
          borderColor: "rgb(23, 125, 255)",
          data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        display: false,
      },
      scales: {
        yAxes: [
          {
            ticks: {
              display: false, //this will remove only the label
            },
            gridLines: {
              drawBorder: false,
              display: false,
            },
          },
        ],
        xAxes: [
          {
            gridLines: {
              drawBorder: false,
              display: false,
            },
          },
        ],
      },
    },
  });

  $("#lineChart").sparkline([105, 103, 123, 100, 95, 105, 115], {
    type: "line",
    height: "70",
    width: "100%",
    lineWidth: "2",
    lineColor: "#ffa534",
    fillColor: "rgba(255, 165, 52, .14)",
  });
</script>

{% endblock javascripts %}
