{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}
{% load static %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<style>
  #excedenteimg {
    object-fit: contain;
    display: block;
    max-width: 45px;
    height: 45px;
  }
  .avatar-title {
    width: 90%;
    height: 90%;
    background-color: white;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatar {
    width: 5.5rem;
    height: 5.5rem;
  }
  .h6 {
    font-size: 12px;
  }
  .bg-primary-gradient {
    background: #1572e8 !important;
    background: linear-gradient(168deg, #000033, #034810) !important;
  }
  .btn-secondary {
    background: rgba(255, 255, 255, 0) !important;
    border-color: #fbfbfb !important;
  }
  .rounded-circle {
    border-radius: 100% !important;
  }
  .border {
    border-width: 13px !important;
  }
  .pl-2,
  .px-2 {
    padding-right: 0.5rem !important;
  }
  .justif-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-between;
  }
  .col-md-6 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 50%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 50%;
  }
  .col-md-4 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 50%;
  }
  .col-md-4 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 50%;
  }
  .col-md-12 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 100%;
  }
  .col-md-13 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 100%;
  }
</style>
<div class="content">
  <div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
      <div
        class="d-flex align-items-left align-items-md-center flex-column flex-md-row"
      >
        <div>
          <h2 class="text-white pb-2 fw-bold">DEPO</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="page-inner mt--5">
    <div class="row mt--2">
      <div class="col-md-6">
        <div class="card full-height">
          <div class="card-body" style="overflow: scroll; height: 17rem">
            <div class="card-title">Ultima Multa Recibida</div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Fecha Multa</th>
                  <th scope="col"># Compra</th>
                  <th scope="col"># Licitador</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2023-07-23</td>
                  <td>0257</td>
                  <td>4547</td>
                </tr>
                <tr>
                  <td>2023-05-31</td>
                  <td>0234</td>
                  <td>1223</td>
                </tr>
                <tr>
                  <td>2023-06-21</td>
                  <td>8975</td>
                  <td>6764</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card full-height">
          <div class="card-body" style="overflow: scroll; height: 15rem">
            <div class="card-title">Ultima Compra Sometida</div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Fecha Reporte</th>
                  <th scope="col"># Compra</th>
                  <th scope="col"># Licitador</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2023-05-23</td>
                  <td>0257</td>
                  <td>4547</td>
                </tr>
                <tr>
                  <td>2023-05-22</td>
                  <td>0234</td>
                  <td>1223</td>
                </tr>
                <tr>
                  <td>2023-05-21</td>
                  <td>8975</td>
                  <td>6764</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <div class="card-head-row">
                    <div class="card-title">Licitadores más comunes</div>

                    <div class="card-tools">
                      <a
                        href="#"
                        class="btn btn-info btn-border btn-round btn-sm mr-2"
                      >
                        <span class="btn-label">
                          <i class="fa fa-pencil"></i>
                        </span>
                        Export
                      </a>
                      <a
                        href="#"
                        class="btn btn-info btn-border btn-round btn-sm"
                      >
                        <span class="btn-label">
                          <i class="fa fa-print"></i>
                        </span>
                        Print
                      </a>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="chart-container" style="min-height: 375px">
                    <canvas
                      id="pieChart"
                      style="width: 50%; height: 50%"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <div class="card-head-row">
                    <div class="card-title">Usuarios mas comunes</div>
                    <div class="card-tools">
                      <a
                        href="#"
                        class="btn btn-info btn-border btn-round btn-sm mr-2"
                      >
                        <span class="btn-label">
                          <i class="fa fa-pencil"></i>
                        </span>
                        Export
                      </a>
                      <a
                        href="#"
                        class="btn btn-info btn-border btn-round btn-sm"
                      >
                        <span class="btn-label">
                          <i class="fa fa-print"></i>
                        </span>
                        Print
                      </a>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="chart-container" style="min-height: 375px">
                    <canvas
                      id="pieChart2"
                      style="width: 50%; height: 50%"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row-card-no-pd">
            <div class="col-md-13">
              <div class="col-md-12">
                <div class="card-header">
                  <div class="card-head-row card-tools-still-right">
                    <div class="card-body" style="overflow: scroll; height: 17rem">
                    <h4 class="card-title">Resumen del concepto</h4>
                    {% for x in compras %}
                    <table class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Objeto</th>
                          <th scope="col">Concepto</th>
                          <th scope="col">Asignación</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{x.objeto}}</td>
                          
                       
                          <td>{{x.concepto}}</td>
                          
                      
                          <td>{{x.asignacion}}</td>
                          
                        </tr>
                        
                      </tbody>
                    </table>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body"></div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          

        {% endblock content %}

        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}

        <!-- Atlantis DEMO methods, don't include it in your project! -->
        <script src="{% static 'assets/js/setting-demo.js' %}"></script>
        <script src="{% static 'assets/js/demo.js' %}"></script>

        <script>
          
          (pieChart = document.getElementById("pieChart").getContext("2d")),
            (pieChart2 = document.getElementById("pieChart2").getContext("2d"));


           
          var myPieChart = new Chart(pieChart, {
            type: "pie",
            data: {
              datasets: [
                {
                  data: [50, 35, 15],
                  backgroundColor: ["##1d7af3", "#f3545d", "#fdaf4b"],
                  borderWidth: 0,
                },
              ],
              labels: ["COSSEC", "AMSSCA", "AAA"],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                position: "bottom",
                labels: {
                  fontColor: "rgb(154, 154, 154)",
                  fontSize: 11,
                  usePointStyle: true,
                  padding: 20,
                },
              },
              pieceLabel: {
                render: "percentage",
                fontColor: "white",
                fontSize: 14,
              },
              tooltips: false,
              layout: {
                padding: {
                  left: 20,
                  right: 20,
                  top: 20,
                  bottom: 20,
                },
              },
            },
          });

        
          {% for x in compras %}
          var x = num_licitador
          var myPieChart2 = new Chart(pieChart2, {
            
            type: "pie",
            data: {
              datasets: [
                {
                  data: x,
                  backgroundColor: ["#f3545d", "#fdaf4b", "#1d7af3"],
                  borderWidth: 0,
                },
              ],
              labels: ['id_agencia'],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                position: "bottom",
                labels: {
                  fontColor: "rgb(154, 154, 154)",
                  fontSize: 11,
                  usePointStyle: true,
                  padding: 20,
                },
              },
              pieceLabel: {
                render: "percentage",
                fontColor: "white",
                fontSize: 14,
              },
              tooltips: false,
              layout: {
                padding: {
                  left: 20,
                  right: 20,
                  top: 20,
                  bottom: 20,
                },
              },
            },
          });
          {% endfor %}
          

          $("#lineChart").sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#ffa534",
            fillColor: "rgba(255, 165, 52, .14)",
          });
          $("#lineChart").sparkline(
            [
              102, 109, 120, 99, 110, 80, 87, 74, 102, 109, 120, 99, 110, 80,
              87, 74,
            ],
            {
              type: "line",
              height: "100",
              width: "250",
              lineWidth: "2",
              lineColor: "#177dff",
              fillColor: "rgba(23, 125, 255, 0.2)",
            }
          );
        </script>

        {% endblock javascripts %}
      </div>
    </div>
  </div>
</div>
