{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .adjudicar-btn {
        background-color: #ff7500 !important;
        border-color: #ff7500 !important;
        color: black !important;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px 20px;
        text-align: center;
        height: 45px; /* Agregar la propiedad height y ajustar el valor según tus necesidades */
      }
    .btn-secondar:hover, .btn-secondar:focus, .btn-secondar:active {
        background-color: #ff7500 !important;
        border-color: #ff7500 !important;
        color: black !important;
        font-weight: bold
    }
    
    
    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.8); /* Cambiar el valor de alpha para ajustar la opacidad */
        border-radius: 10px; /* Ajustar el valor para cambiar el radio de la esquina */
    }

    .mi-clase:not(:last-child) {
        border-bottom-width: 0.2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 0.06);
        overflow: auto;
        padding-bottom: 20px;
      }
      
    
    .btn {
        padding: .65rem 1.4rem;
        font-size: 14px;
        opacity: 1;
        border-radius: 20px;
        }
      

    #excedenteimg{
        object-fit: contain;
        display:block;
        max-width: 75px;
        height: 3rem;
    }

    .avatar-title {
        width: 100%;
        height: 100%;
        background-color: white;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar {
        width: 5.5rem;
        height: 5.5rem;
    }
    .h6{
        font-size: 1rem;
    }
    .bg-primary-gradient {
        background: #1572E8 !important;
        background: linear-gradient(168deg, #000033, #034810) !important;
        }
    .btn-secondar {
        background: rgba(255, 255, 255, 0) !important;
        border-color: #fbfbfb !important;
        color: white !important;
        font-weight: bold
    }
   
</style>

<div class="content">
    
    <div class=" panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">DEPO</h2>

                </div>
                
                <div class="ml-md-auto py-2 py-md-0">
                    <form method="GET">
                        <div class="input-group">
                            <div class="dropdown" color="white">
                            </div>
                            <div class="input-group-append ml-2">
                            </div>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>

  <!--  <form method="GET">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-secondary btn-sm text-muted" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <select class="form-control" name="filtro">
                {% for x in agencias %}
                <option value="{{ x.oficial.email }}">{{x.oficial}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append ml-2">
                <a href="/agenciasAddAgencia" class="btn btn-secondary btn-round">Añadir agencia</a>
            </div>
        </div>
    </form>-->

    <div class="col" style="padding-top: 2rem;">
        <div class="card full-height" style="border-radius:20px" >
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">Compras Sometidas</div>
                    <!--<div class="card-tools">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab"
                                    aria-selected="true">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week"
                                    role="tab" aria-selected="false">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab"
                                    aria-selected="false">Month</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </div>

            {% for id_agencia in comprasometida %}

              <div class="card text-center">
                <div class="card-header">
                  Reporte Sometido
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{id_agencia}}</h5>
                  <a href="#" class="btn btn-primary">Ver Reporte Detallado</a>
                </div>
              </div>

            {%endfor%}     

           



        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}