{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load django_tables2 %}
<style>
    #excedenteimg {
      object-fit: contain;
      display: block;
      max-width: 45px;
      height: 45px;
    }
    .avatar-title {
      width: 90%;
      height: 90%;
      background-color: white;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .avatar {
      width: 5.5rem;
      height: 5.5rem;
    }
    .h6 {
      font-size: 12px;
    }
    .bg-primary-gradient {
      background: #1572e8 !important;
      background: linear-gradient(168deg, #000033, #034810) !important;
    }
    .btn-secondary {
      background: #FE9100 !important;
      border-color: #000000 !important;
    }
    .rounded-circle {
      border-radius: 100% !important;
    }
    .border {
      border-width: 13px !important;
    }
    .pl-2,
    .px-2 {
      padding-right: 0.5rem !important;
    }
    .justif-content-around {
      -ms-flex-pack: distribute !important;
      justify-content: space-between;
    }
    .col-md-6 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 50%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 50%;
    }
    .col-md-4 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 50%;
    }
    .col-md-4 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 50%;
    }
    .col-md-12 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 100%;
    }
    .col-md-13 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 100%;
    }

    .container{
        text-align: center;
    }

    .derecha{
      text-align: right;
    }

    .letter{
      color: black;
    }

    .blanco{
        color: white;
    }
  </style>

<div class="content container border">
    <div class="panel-header bg-primary-gradient">
    <div class="page-inner py-1">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="">
            <h2 class="text-white pb-2 fw-bold">ASG DEPO</h2>
            <h3 class="text-white pb-2 fw-bold">Reportes Sometidos</h3>
        </div>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <div>
            <form class="form-inline">
              {% csrf_token %} 
              <input type="text" name="num_reporte" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
              <button formaction="{% url 'searchBox' %}" type="submit" formmethod="post" class="btn btn-secondary btn-primary letter"><strong>Buscar</strong></button>
              <a href="{% url 'sometida' %}" class="btn btn-secondary btn-primary letter"><strong>Ver Todas</strong></a>
            </form>
        </div>
        </div>
    </div>
</div>

  <!--  <form method="GET">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-secondary btn-sm text-muted" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <select class="form-control" name="filtro">
                {% for x in agencias %}
                <option value="{{ x.oficial.email }}">{{x.oficial}}</option>
                {% endfor %}
            </select>
            <div class="input-group-append ml-2">
                <a href="/agenciasAddAgencia" class="btn btn-secondary btn-round">Añadir agencia</a>
            </div>
        </div>
    </form>-->

    <!-- <div class="col" style="padding-top: 2rem;">
        <div class="card full-height" style="border-radius:20px" >
            <div class="card-header">
                <div class="card-head-row">
                    <div class="card-title">Compras Sometidas</div>
                    div class="card-tools">
                        <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab"
                                    aria-selected="true">Today</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week"
                                    role="tab" aria-selected="false">Week</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab"
                                    aria-selected="false">Month</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->


          
            

            <div class="container">
            <br>
            {% for num_reporte, comprasometida in compras_por_reporte.items %}
              <div class="card text-center bg-primary-gradient blanco">
                <div class="card-header">
                  {% for x in comprasometida %}
                    {% if forloop.counter == 1 %}
                      <h2><strong>Reporte Sometido: {{x.fecha_reporte|date}}</strong></h2>
                    {% endif %}
                  {%endfor%} 
                </div>
                <div class="card-body">
                  <h5 class="card-title blanco"><strong>Reporte No. {{num_reporte}}</strong></h5>&nbsp;<br>
                  <a href="{% url 'ComprasDetails' num_reporte%}" class="btn btn-secondary btn-primary letter"><strong>Reporte Detallado</strong> </a>
                </div>
              </div>
            {%endfor%} 

            {% for result in results %}
              {% if forloop.counter == 1 %}
                <div class="card text-center bg-primary-gradient blanco">
                  <div class="card-header">
                    <h2><strong>Reporte Sometido: {{result.fecha_reporte|date}}</strong></h2> 
                  </div>
                  <div class="card-body">
                    <h5 class="card-title blanco"><strong>Reporte No. {{result.num_reporte}}</strong></h5>&nbsp;<br>
                    <a href="{% url 'ComprasDetails' result.num_reporte%}" class="btn btn-secondary btn-primary letter"><strong>Reporte Detallado</strong> </a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            </div>    
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}