
{% load static %}
<!--<style>
    #footer {
      position: fixed;
      left: 0;
      bottom: 96px;
      width: 100%;
      
    }

    #footerOdi {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      
    }
    </style> -->
<footer role = "contentinfo">
<section data-bs-version="5.1"  class="footer1 cid-sTFZ4JQzfJ" once="footers" id="footer" style="margin-top:10px">
    <div class="container">
        <div class="row justify-content-center">
                <div class="col ">
                    <div class="social-row display-7">
                        <div >
                            <a href="https://pr.gov/Pages/default.aspx" target="_blank">
                                <img id = "prgov" src="https://assets-global.website-files.com/606ce22566af383df2754cf8/606ce22566af3824f0754d06_gobierno-de-puerto-rico.png" loading="lazy" height="100px" width = " 200px" srcset="https://assets-global.website-files.com/606ce22566af383df2754cf8/606ce22566af3824f0754d06_gobierno-de-puerto-rico-p-500.png 500w, https://assets-global.website-files.com/606ce22566af383df2754cf8/606ce22566af3824f0754d06_gobierno-de-puerto-rico.png 800w" sizes="100vw" alt="Gobierno de Puerto Rico" class="logo-gobierno"> </span>
                            </a>
                           
                        </div>
                        <div >
                            <a href="#"  aria-label="Logo de ASG Ir a la página de Inicio" > 
                                <img  id ="asglogo"  alt="ASG Logo" loading="lazy"  data-src="{% static 'assets/images/asg-logo-4.png' %}">
                            </a>
                        </div>
                       
                    </div>
                    
                </div>

            <div class="col border-left">
                <a class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Páginas</strong>
                </a>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap my-2">
                        <a href="{% static 'assets/documents/Terminos y Condiciones.pdf' %}" target="_blank"   class="link text-primary">
                            Términos y Condiciones  </a></li>
                    <li class="mbr-text item-wrap my-2">
                        <a href="{% static 'assets/documents/Politica de Privacidad.pdf' %}" target="_blank" class="link text-primary">
                            Política de Privacidad</a></li>
                    <li class="mbr-text item-wrap my-2">
                        <a href="https://bvirtualogp.pr.gov/ogp/Bvirtual/leyesreferencia/PDF/Tecnolog%C3%ADas/229-2003/229-2003.pdf" target="_blank" class="link text-primary">
                            Accesibilidad Núm-006-2017 - Conforme a la Ley 229 de 2003</a></li>
                    </strong></p></li>
                </ul>
            </div>
            <div class="col border-left">
                <a class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong >Contáctenos</strong></a>
                <ul class="list mbr-fonts-style display-4">
                    <li class="list item-wrap mb-3">
                        <a href ="/contactos" class="link text-primary">
                            Directorio de Contactos</a></li>
                    </li>
                    <li class="list item-wrap mb-3">
                        <a href="https://www.google.com/maps/dir/18.4516608,-66.0635648/administracion+de+servicios+generales+300+ave+de+diego/@18.4499074,-66.0679661,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x8c036fc0f0878c41:0xb2f706e6f9673dd3!2m2!1d-66.0675427!2d18.4489369" target="_blank" class= "link text-primary">Centro Gubernamental Minillas, Torre Norte, Piso 12. 300 Ave. José De Diego, San Juan, Puerto Rico, 00911</a></li>
                </ul>
                
            </div>
            <div class="col border-left">
                <a class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Redes Sociales</strong></a>
                <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://www.facebook.com/ASGPUERTORICO" aria-label="Ir a la página de Facebook" target="_blank"> 
                            <span class="fa-brands fa-facebook-f fa-2x" aria-hidden="true" ></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/asgpuertorico" aria-label="Ir a la página de Twitter" target="_blank">
                            <span class="fa-brands fa-twitter fa-2x" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.instagram.com/asgpuertorico"aria-label="Ir a la página de Facebook" target="_blank">
                            <span class="fa-brands fa-instagram fa-2x" aria-hidden="true" ></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" aria-label="Ir a la página de Linked In" target="_blank">
                            <span class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
   
</section>
<section id ="footerOdi" style="min-height: 3rem;">
<div class="row justify-content-center " style = "background-color: rgb(255, 255, 255);padding: 15px;">
    <div class="col ">
        <div class="col-12 ">
            <p  class="mbr-text  mb-0 mbr-fonts-style  align-right display-7"><strong><a  style="font-size:14px;"  >© Copyright 2022 asg.pr.gov - Todos los derechos reservados</a>
            </a> </strong></p>
        </div>
    </div>
    <div class="col">

        <div class="col-10">
            <a  class="mbr-text  mb-0 mbr-fonts-style  display-7"><strong><a  style="font-size:14px;"  >Página desarrollada por</a>
            </strong></a>
            <img id = "odiImg"  object-fit="" width="200" height="100px" alt="Logo Oficina de Informática" loading="lazy"  data-src="{% static 'assets/images/ODI_logoASG-01.png' %}">
        </div>
    </div>
</div>
<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
</section>
</footer>