
{% load static %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" content="{% static 'summary_large_image' %}"/>
    <meta name="twitter:image:src" content="{% static 'assets/images/Indice-meta.png' %}">
    <meta property="og:image" content="{% static 'assets/images/Indice-meta.png' %}">
    <meta name="twitter:title" content="Home">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'assets/images/asg-logo-fll-128x128.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
    <link rel="preload" as="style" href="{% static 'assets/mobirise/css/resp_tables.css' %}">  
    <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
    <link rel="preload" as="style" href="{% static 'assets/mobirise/css/Subastas.css' %}">
    <link rel="preload" as="style" href="{% static 'assets/mobirise/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/Subastas.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/resp_tables.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/mobirise/css/style.css' %}" type="text/css">
    
    <!--Jost Font by Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!--Icons by FontAwesome-->
    