
{% load static %}

  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'assets/ytplayer/index.js' %}"></script>
  <script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
  <script src="{% static 'assets/embla/embla.min.js' %}"></script>
  <script src="{% static 'assets/embla/script.js'%}"></script>
  <script src="{% static 'assets/theme/js/script.js' %}"></script>
  <script src="{% static 'assets/subastas/subastas.js' %}"></script>
  <script src="{% static 'assets/subastas/main.js' %}"></script>
  <script src="{% static 'assets/subastas/guidi.js' %}"></script>
  <script>"use strict";if("loading"in HTMLImageElement.prototype){document.querySelectorAll('img[loading="lazy"],iframe[loading="lazy"]').forEach(e=>{e.src=e.dataset.src,e.style.paddingTop=100*e.getAttribute("data-aspectratio")+"%",e.style.height=0,e.onload=function(){e.removeAttribute("style")}})}else{const e=document.createElement("script");e.src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js",document.body.appendChild(e)}</script>
  
  
